.form_control{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0 1rem;
}

.form_control label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #000154;
    font-weight: bold;
}

.form_control select{
    width: 100%;
    padding: 20px;
    border-radius: 0;
    border: none;
    color: #7B7B7B;
    background-color: #f2f2f2;
}